<h1>MongoScraper App: Home</h1>
<div id="articles"></div>
<div id="notes"></div>

{{!--Scripts--}}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>